<!-- Validation failure messages -->
<% if @city.present? %>
  <% if @city.errors.any? %>
    <% @city.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new city
</h1>


<hr>

<!-- Form city start -->
<form action="/create_city" method="post">
<!-- Form city end -->

  <!-- Label and input for city_name start -->
  <div class="form-group">
    <label for="city_name">
      City name
    </label>

    <!-- Input for city_name start -->
    <input type="text" id="city_name" name="city_name" class="form-control" value="<%= @city.city_name %>">
    <!-- Input for city_name end -->
  </div>
  <!-- Label and input for city_name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create city
  </button>
</form>

<hr>

<a href="/cities">
  Go back
</a>
