<h1>
  Add a new activity
</h1>


<hr>

<!-- Form activity start -->
<form action="/create_activity" method="post">
<!-- Form activity end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for start_date start -->
  <div class="form-group">
    <label for="start_date">
      Start date
    </label>

    <!-- Input for start_date start -->
    <input type="text" id="start_date" name="start_date" class="form-control">
    <!-- Input for start_date end -->
  </div>
  <!-- Label and input for start_date end -->

  <button class="btn btn-block btn-outline-secondary">
    Create activity
  </button>
</form>

<hr>

<a href="/activities">
  Go back
</a>
