<% if @energy_level.errors.any? %>
  <% @energy_level.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit energy level #<%= @energy_level.id %>
</h1>

<hr>

<form action="/update_energy_level/<%= @energy_level.id %>" method="post">

  <div class="form-group">
    <label for="party_level">
      Party level
    </label>

    <input type="text" id="party_level" name="party_level" class="form-control" value="<%= @energy_level.party_level %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update energy level
  </button>
</form>

<hr>

<a href="/energy_levels">
  Go back
</a>
