<% if @age_group.errors.any? %>
  <% @age_group.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit age group #<%= @age_group.id %>
</h1>

<hr>

<form action="/update_age_group/<%= @age_group.id %>" method="post">

  <div class="form-group">
    <label for="age_cohort">
      Age cohort
    </label>

    <input type="text" id="age_cohort" name="age_cohort" class="form-control" value="<%= @age_group.age_cohort %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update age group
  </button>
</form>

<hr>

<a href="/age_groups">
  Go back
</a>
