<h1>
  Add a new age group
</h1>


<hr>

<form action="/create_age_group" method="post">

  <div class="form-group">
    <label for="age_cohort">
      Age cohort
    </label>

    <input type="text" id="age_cohort" name="age_cohort" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create age group
  </button>
</form>

<hr>

<a href="/age_groups">
  Go back
</a>
