<% if @age_group.present? %>
  <% if @age_group.errors.any? %>
    <% @age_group.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new age group
</h1>


<hr>

<form action="/create_age_group" method="post">

  <div class="form-group">
    <label for="age_cohort">
      Age cohort
    </label>

    <input type="text" id="age_cohort" name="age_cohort" class="form-control" value="<%= @age_group.age_cohort %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create age group
  </button>
</form>

<hr>

<a href="/age_groups">
  Go back
</a>
