<h1>
  Add a new age group
</h1>


<hr>

<!-- Form age_group start -->
<form action="/create_age_group" method="post">
<!-- Form age_group end -->

  <!-- Label and input for age_cohort start -->
  <div class="form-group">
    <label for="age_cohort">
      Age cohort
    </label>

    <!-- Input for age_cohort start -->
    <input type="text" id="age_cohort" name="age_cohort" class="form-control">
    <!-- Input for age_cohort end -->
  </div>
  <!-- Label and input for age_cohort end -->

  <button class="btn btn-block btn-outline-secondary">
    Create age group
  </button>
</form>

<hr>

<a href="/age_groups">
  Go back
</a>
